.flipbookRoot {
  width: 100vw;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.flipbookBorder {
  width: 512px;
  height: 512px;
  position: relative;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  @media screen and (max-width: 480px) {
    height: 100vw;
    width: 100vw;
    border-radius: unset;
  }
}

.frameReel {
  position: absolute;
}

.frameImg {
  //   object-fit: cover;
  width: 512px;
  height: 512px;
  @media screen and (max-width: 480px) {
    height: 100vw;
    width: 100vw;
  }
  background-position: center;
  background-size: cover;
}
